.menu-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #ffffff;
    /* transition: transform 0.4s, box-shadow 0.4s; */
    position: relative;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
}

/* .menu-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.07);
} */

.menu-item-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
}

.menu-item-image {
    width: 130px;
    height: 180px;
    border-radius: 4px;
}

.menu-item-image-Icon {
    font-size: 12px;
    color: #FF7700;
}

.menu-item-link {
    color: #FF7700;
    text-decoration: none;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.menu-item-link:hover {
    text-decoration: underline;
}

.menu-item-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.menu-item-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.menu-item-text h2 {
    font-size: 22px;
}

.menu-item-text p {
    font-size: 16px;
    color: #888888;
}

.menu-item-right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
}

.menu-item-right>div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
}

.menu-item-date {
    font-size: 14px;
    color: #999;
}

.menu-item-days-left {
    font-size: 36px;
    font-weight: bold;
    color: #FF7700;
}

.menu-item-service-img {
    width: 30px;
    height: auto;
}

.menu-item-go-practice-btn {
    padding: 8px 12px;
    background-color: #ffffff;
    border-radius: 20px;
    color: #FF7700;
    font-weight: bold;
    transition: background-color 0.1s, color 0.1s;
    border: 1px solid #FF7700;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item-go-practice-btn:hover {
    cursor: pointer;
    /* box-shadow: 0 5px 3px rgba(0, 0, 0, 0.07); */
    color: #fff;
    background-color: #FF7700;
}