.search-icon {
    color: #000;
    margin-right: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-input {
    width: 200px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: width 0.4s ease-in-out;
}

.search-input:focus {
    width: 300px;
    border-color: #FF7700;
    outline: none;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
    font-size: 16px;
    color: #FF7700;
    font-weight: bold;
    margin: 0 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.menu-icon {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 24px;
    color: #FF7700;
}

.menu li:hover .menu-icon {
    opacity: 1;
}

.menu li:hover {
    transform: translateY(-4px);
}

.menu-content {
    overflow-y: auto;
    padding: 20px;
}