.search-icon {
    color: #000;
    margin-right: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-input {
    width: 200px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: width 0.2s ease-in-out;
}

.search-input:focus {
    width: 300px;
    border-color: #FF7700;
    outline: none;
}

.menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
    font-size: 14px;
    color: #FF7700;
    font-weight: 500;
    margin: 0 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.menu-icon {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 22px;
    color: #FF7700;
}

.menu li:hover .menu-icon {
    opacity: 1;
}

.menu-content {
    overflow-y: auto;
    padding-inline: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.highlight {
    background-color: #FF7700;
    color: #fff;
}

hr {
    width: 100%;
    background: #efefef;
    height: 1px;
    border: 0;
}