.practice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.practice-container img {
    width: 600px;
    height: auto;
}

.practice-container h2 {
    font-size: 22px;
    color: #2f2f2f;
    margin-top: 15px;
}

.practice-container p {
    font-size: 14px;
    color: #2f2f2f;
}

.intro-content {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 20px;
    border: 1px solid #2f2f2f;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.intro-content h3 {
    font-size: 18px;
    color: #2f2f2f;
}

.intro-content p {
    font-size: 14px;
    color: #2f2f2f;
}

.Bottom-container {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Bottom-container button {
    padding: 5px;
    transition: background-color 0.2s, color 0.2s;
    color: #fff;
    background-color: #FF7700;
    border: 1px solid #FF7700;
    border-radius: 3px;
    font-size: 12px;
}

.Bottom-container button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #2f2f2f;
}

.Bottom-container button:disabled {
    background-color: #cccccc;
    border-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.Bottom-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}

.Bottom-page-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF7700;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
}

.Bottom-page-container p {
    color: #414141;
    font-size: 14px;
    font-weight: bold;
}

.Bottom-page-container button:hover {
    cursor: pointer;
    background-color: #FF7700;
}

.Bottom-page-container button:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}